* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

header {
  position: fixed;
  top: 0;
  background-size: cover;
  background-color: rgb(25, 28, 30);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: top 0.3s ease-in-out;
  z-index: 1;
}

header.scrolled {
  top: -100px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
  
img {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

/* Binevenida */
.bienvenida {
  background-image: linear-gradient(rgba(58, 58, 58, 0.4), rgba(0, 0, 0, 0.4)), url('../src/img/fondo-bienvenida.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 10%;
}

.bienvenida h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: rgb(251, 249, 217);
}

.bienvenida p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: rgb(251, 249, 217);
}

/* Menu */
.menu {
  text-align: center;
  margin: 50px;
}

.menu h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.menu {
  text-align: center;
  margin: 50px;
}

.menu h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Platillo */
.platillo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.platillo img {
  width: 40%;
  max-height: 200px;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 20px;
}

.platillo div {
  width: 60%;
  text-align: left;
  margin-right: 20px;
}

.platillo h3 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.platillo p {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.platillo span {
  font-size: 2rem;
  color: #6DAE2F;
}